<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Team</title>
  </head>
  <body>
    <h1><%= team.name %></h1>
    <h3><%= team.mascot %></h3>
    <h5><%= team.stadium %></h5>
  </body>
</html>
